<html>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.css">

    <body>
      <body>
        <nav class="navbar bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" style="color : aliceblue">Weather API APP</a>
              <form class="d-flex" role="search" action="/" method="post">
                <input id="city" class="form-control me-2" name="city" type="search" placeholder="Search City" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>



<%- body%> 

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Test Weather API Application, created by Barış USLUCAN © 2022 Copyright:
      <a class="text-white" href="https://www.barisuslucan.com.tr/">barisuslucan.com.tr</a>
    </div>
    <!-- Copyright -->
  </footer>

<script type="application/javascript" src="/public/js/jquery-3.6.1.min.js"></script>
<script type="application/javascript" src="/public/js/boostrap.js"></script>


</body>


</html>